@model SR413POS.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h4>Create Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Barcode" class="control-label"></label>
                <input asp-for="Barcode" class="form-control" />
                <span asp-validation-for="Barcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OnHand" class="control-label"></label>
                <input asp-for="OnHand" class="form-control" />
                <span asp-validation-for="OnHand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitId" class="control-label"></label>
                <select asp-for="UnitId" class ="form-control" asp-items="ViewBag.UnitId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" id="save">
                    <i class="fa fa-save"></i> Save
                </button>
            </div>
    </div>
    <div class="col-md-6">
        <table class="table table-bordered" id="t1">
            <thead>
                <tr>
                    <th style="width:200px;">Unit</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
        <p class="text-right">
            <button class="btn btn-primary" id="addRow">
               <i class="fa fa-plus"></i> Add Row
            </button>
        </p>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var options = "";
        var productPrices = [];
        $(document).ready(function () {
            //Save button
            $("#save").click(function () {
                var token = $("input[name=__RequestVerificationToken]").val();
                var i = 0;
                $("#t1 tr").each(function () {
                    if (i > 0) {
                        var j = i - 1;
                        var unit = document.getElementsByName("unit[]")[j].value;
                        var price = document.getElementsByName("price[]")[j].value;
                        productPrices.push({ UnitId: unit, Price: price });
                    }
                    i++;
                });
                var data = {
                    __RequestVerificationToken: token,
                    "CategoryId": $("#CategoryId").val(),
                    "UnitId": $("#UnitId").val(),
                    "ProductName": $("#ProductName").val(),
                    "Barcode": $("#Barcode").val(),
                    "Description": $("#Description").val(),
                    "OnHand": $("#OnHand").val(),
                    "Cost": $("#Cost").val(),
                    "ProductPrices": productPrices
                };
                $.ajax({
                    method: "POST",
                    url: "Create",
                    data: data,
                    dataType: "Html",
                    success: function () {
                        alert("Record was saved");
                        window.location.href = "Index";
                    }, error: function (error) {
                        console.log(error);
                    }
                });
            });
            //Get Unit
            $.ajax({
                method: "GET",
                url: "GetUnits",
                dataType: "json",
                success: function (content) {
                    $.each(content, function (i, v) {
                        options += "<option value='"+ v.unitId +"'>"+ v.unitName +"</option>";
                    });
                }, error: function (error) {
                    console.log(error);
                }
            });
            //Add Table row
            $("#addRow").click(function () {
                var row = "<tr><td><select class='form-control' name='unit[]'>" + options + "</select></td>";
                row += "<td><input class='form-control' name='price[]'/></td>";
                row += "<td><button class='btn btn-danger'><i class='fa fa-trash'></i></button></td></tr>";
                $("#t1").append(row);
            });
        });
    </script>
}
